#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* App.css */
.App {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: filter 0.5s;
}

/* App.css */
/* .background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://i.redd.it/23xc9wvdgy071.jpg');
  background-size: cover;
  z-index: -1; /* Place it behind other content */
/* } */ */

/* styles.css */
/* styles.css */
p, span, h1, h2, h3, h4, h5, h6 {
  color: black !important;
}


/* styles.css */
img {
  max-width: 100%;
  max-height: auto;
}

/* styles.css */
p, span {
  font-size: 1.1em; /* Adjust the size as needed */
}
/* Add this CSS to your project's stylesheet */
.register-page {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 0 auto;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-top: 10px;
  font-size: 18px;
}

input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

button {
  background-color: #007bff;
  color: green;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}
