
/* styles.css */
p, span {
  font-size: 1.1em; /* Adjust the size as needed */
}
/* Add this CSS to your project's stylesheet */
/* Add this CSS to your existing styles */



/* NAV BAR */

/* Reset default margin and padding */
body, ul {
  margin: 0;
  padding: 0;
}





/* About us */



/* Create post form css */

