

/* styles.css */
body p,
body span,v
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  color: white;
}






/* Add this to your global styles or footer-specific styles */
/* Add this to your global styles or footer-specific styles */
.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}








