.post {
    list-style: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .post img {
    width: 100px; /* Adjust this as needed */
    height: auto;
    margin-right: 20px;
  }
  
  .post p {
    margin: 5px 0;
  }
  
  .btn-details {
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-details:hover {
    background-color: #357a38;
  }
  