/* Styling for individual posts */
.post {
  width: 200px; /* Adjust the width here */
  margin-right: 30px; /* Adjust spacing between posts */
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0 10px;
  animation: slideUp 2s ease;
  min-width: 300px;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Dark gray frame for individual posts */
.post {
  background-color: rgba(50, 50, 50, 0.8);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Styling for the image */
.post img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
  margin-bottom: 15px;
  max-height: 200px;
}

/* Styling for post content */
.post p {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  margin-bottom: 12px;
  color: #fff !important;
  font-weight: bold;
}

/* Styling for the buttons */
.post .btn-btn-details {
  padding: 12px 24px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: transform 0.5s, background-color 0.5s, box-shadow 0.5s;
  box-shadow: 0 0 20px rgba(76, 175, 80, 0.7);
  display: inline;
  margin-top: auto;
  width: 50%;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
}

.post .btn-btn-details:hover {
  background-color: #2ecc71;
  transform: scale(1.1);
  box-shadow: 0 0 30px rgba(46, 204, 113, 0.9);
}
