/* Styling for the posts container */
.all-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  animation: slideUp 2s ease;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Styling for individual posts */
.post-container {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  display: inline-block; /* Ensures maximum 3 posts per row */
  vertical-align: top; /* Aligns posts to the top of the container */
  box-sizing: border-box;
  padding: 0 10px; /* Adjust spacing between posts */
}



