


.add-blog {
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50; /* Green color */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.add-blog::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.add-blog:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.add-blog:hover {
  background-color: #2ecc71; /* Lighter green color on hover */
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(46, 204, 113, 0.7);
}


/* Targeting elements inside .blog-page */
.blog-page h1 {
  /* Your h1 styles */
}

.blog-page .add-blog {
  /* Your button styles */
}

.blog-page .articles {
  display: flex;
  flex-wrap: wrap;
  animation: fadeInUp 2s ease forwards;
}

.blog-page .articles li {
  /* Styles for each article element */
}

.blog-page h2 {
  /* Styles for the "No articles at the moment" message */
}

/* Your existing animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

