/* Styling for the form container */
.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333; /* Dark gray background color */
  padding: 40px;
  margin: auto;
  border-radius: 20px;
  transform: translateY(100%);
  animation: slideUp 1s forwards; /* Apply the slideUp animation */
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 0px #49535e, inset 0px 0px 20px #191c21;
}

@keyframes slideUp {
  to {
    transform: translateY(0%);
  }
}

.login-box h2 {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 2.7rem;
  text-align: center;
  font-weight: 900;
  letter-spacing: 1px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 30px;
}

/* Input field styles */
.login-box .user-box {
  position: relative;
  margin-bottom: 30px;
}

.login-box input {
  width: 100%;
  padding: 15px 20px;
  font-size: 24px;
  color: black;
  margin-top: 10px;
  border-radius: 50px;
  border: none;
  outline: none;
  transition: box-shadow 0.3s, transform 0.3s; /* Add transition effect */
}

.login-box label {
  position: absolute;
  top: -20px; /* Move labels above the input fields */
  left: 20px;
  padding: 10px 0;
  font-size: 18px; /* Decrease label font size */
  color: green; /* Change label text color */
  pointer-events: none;
  transition: .3s ease-in-out; /* Add transition for label animation */
}

/* Styling for labels and inputs */
.login-box label,
.login-box input {
  color: #ddd; /* Set the text color to light gray */
}

/* Modify label animation on input focus */
.login-box input:focus ~ label,
.login-box input:valid ~ label {
  top: -40px;
  font-size: 16px; /* Adjust font size on focus */
}

/* Hover effect for input fields */
.login-box input:hover {
  box-shadow: inset 10px 10px 10px #1e824c, inset -10px -10px 10px #4ae06f; /* Strengthen shadow on hover */
  transform: translate(4px, 4px); /* Increase movement on hover */
}

/* Submit button styles */
.login-box button {
  display: block;
  width: 100%;
  padding: 15px 20px;
  color: white;
  font-size: 26px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 30px;
  border-radius: 20px;
  cursor: pointer;
  background: #778e9c;
  border: none;
  outline: none;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
}

/* Submit button styles */
.login-box button:hover {
  background: #1e824c; /* Change button color on hover */
  box-shadow: 10px 10px 10px #4ae06f, -10px -10px 10px white; /* Adjust shadow on hover */
  transform: translate(4px, 4px); /* Increase movement on hover */
}
